// Place all the styles related to the configurations controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  width: 60%;
  margin: 0 auto;
}

.center{
  margin: 0 auto;
  text-align: center;
}

input{
  margin-bottom: 20px !important;
}

.selectize-control{
  margin-bottom: 15px !important;
}

.ui.button.wide{
  width: 100%;
}